[Desktop Entry]
Name=hikma-per
Name[ar]=إعدادات بريمج حكمة 
Comment=hikma is a desktop tool for showing hikmas
Comment[ar]=حكمة برنامج يقوم بعرض الحكم على سطح المكتب
Exec=/opt/hikma/hikma-per
Terminal=false
Type=Application
Icon=/usr/share/icons/hikma.png
X-KDE-autostart-after=panel
StartupNotify=false
Categories=others;
Name[ar_EG]=إعدادات حكمة
